<div class="signup">
<div class="row justify-content-center mt-4">
  <div class="col-sm-5" style="background-color:white">
     <h2 class="text-center">WELCOME TO ALQUIGAME!</h2>
    <p class="text-center">Register your user or log in</p>
    <form method="POST" action="/register">
      <div class="form-group mb-3">
        <label for="username">Username</label>
        <input
          id="username"
          value="{{user.username}}"
          name="username"
          type="text"
          class="form-control {{#if errors.username}}is-invalid{{/if}}"
          placeholder="Username"
        >
        {{#if errors.username}}
          <div class="invalid-feedback">{{errors.username}}</div>
        {{/if}}
      </div>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input
          id="email"
          value="{{user.email}}"
          name="email"
          type="email"
          class="form-control {{#if errors.email}}is-invalid{{/if}}"
          placeholder="example@expample.com"
        >
        {{#if errors.email}}
          <div class="invalid-feedback">{{errors.email}}</div>
        {{/if}}
      </div>

      <div class="form-group mb-3">
        <label for="password">Password</label>
        <input
          id="password"
          name="password"
          type="password"
          class="form-control {{#if errors.password}}is-invalid{{/if}}"
          placeholder="Password"
        >
        {{#if errors.password}}
          <div class="invalid-feedback">{{errors.password}}</div>
        {{/if}}
      </div>
      <div class="d-flex justify-content-between">
       <button type="submit" class="btn btn-info">Create your account</button>
      <a href="/login/google" class="btn btn-outline-info"> <img src="/images/Google__G__Logo.svg.png" alt="Bootstrap" width="20" height="20"> Continue with Google</a> 
      <a href="/login" class="btn btn-outline-info"> Already registered?</a> 
      </div>
    </form>
  </div>
</div>
</div>