<div class="row m-0 mt-3">
    <div class="col-2">
        {{> sidebar}}
    </div>
    <div class="col-10 mt-3">
        <h2 class="pt-2 text-center" style="color:rgb(10, 207, 207)">HISTORIC</h2>
        <div class="col-12 mt-3">
             <h4 class="text-center mt-4 request">GAMES RENTED TO OTHER USERS</h4>
            <div class="row m-0">
                {{#each histReducer.renter as |rent|}}
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-3">
                    <div class="card card-own-games d-flex align-items-center">
                        <div class="card-body">
                            <div class="text-center">
                                <h3 class="card-title card-name">{{rent.game.title}}</h3>
                            </div>
                            <span>{{#formatDate rent.start}} {{/formatDate}}</span>
                            <span> to</span>
                            <span>{{#formatDate rent.end}} {{/formatDate}}</span>
                            <p class="card-text">Price per day: {{rent.game.price}}€</p>
                            <div class="d-flex justify-content-center">
                                <img src="{{rent.game.image.[0]}}" width="150px" height="150px" class="card-image"></img>
                            </div>
                        </div>
                        <p>Owner: {{rent.game.user.username}}</p>
                        <button class="favoriteBtn btn text-primary" type="button" value="{{rent.id}}">
                            {{#hasFavorite favorites =../favorites rent=rent}}
                            <i class="bi bi-heart-fill"></i>
                            {{else}}
                            <i class="bi bi-heart"></i>
                            {{/hasFavorite}}
                        </button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>


        <div class="col-12 mt-3">
             <h4 class="text-center mt-4 request">GAMES RENTED FROM OTHER USERS</h4>
            <div class="row m-0">
                {{#each histReducer.tenant as |rent|}}
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-3">
                    <div class="card card-own-games d-flex align-items-center">
                        <div class="card-body">
                            <div class="text-center">
                                <h3 class="card-title card-name">{{rent.game.title}}</h3>
                            </div>
                            <span>{{#formatDate rent.start}} {{/formatDate}}</span>
                            <span> to</span>
                            <span>{{#formatDate rent.end}} {{/formatDate}}</span>
                            <p class="card-text">Price per day: {{rent.game.price}}€</p>
                            <div class="d-flex justify-content-center">
                                <img src="{{rent.game.image.[0]}}" width="150px" height="150px" class="card-image"></img>
                            </div>
                        </div>
                        <p>Renter: {{rent.renter.username}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>