<h1>Requested games to rent</h1>

<div class="col-10 mt-3">
    <div class="row m-0">
        {{#each rentsReducer.rented as |rent|}}
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-3">
            <div class="card card-own-games d-flex align-items-center">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="card-title">Title: {{rent.game.title}}</h3>
                    </div>
                    <span>{{#formatDate rent.start}} {{/formatDate}}</span>
                    <span> to</span>
                    <span>{{#formatDate rent.end}} {{/formatDate}}</span>
                    <p class="card-text">Price per day: {{rent.game.price}}€</p>
                    <div class="d-flex justify-content-center">
                        <img src="{{game.image}}" width="150px" height="150px" class="card-image"></img>
                    </div>
                </div>
                <div class="d-flex justify-content-around mb-2">
                    <button class="pending-game-btn btn btn-small" style="background-color:rgb(131, 131, 125)">Waiting
                        for validation</button>
                </div>
                <p>Owner: {{rent.game.user.username}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>





<h1>Request from other users</h1>

<div class="col-10 mt-3">
    <div class="row m-0">
        {{#each rentsReducer.requested as |rent|}}
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-3">
            <div class="card card-own-games d-flex align-items-center">
                <div class="card-body">
                    <div class="text-center">
                        <h3 class="card-title">{{rent.game.title}}</h3>
                    </div>
                    <span>{{#formatDate rent.start}} {{/formatDate}}</span>
                    <span> to</span>
                    <span>{{#formatDate rent.end}} {{/formatDate}}</span>
                    <p class="card-text">Price per day: {{rent.game.price}}€</p>
                    <div class="d-flex justify-content-center">
                        <img src="{{game.image}}" width="150px" height="150px" class="card-image"></img>
                    </div>
                {{#isValidating rent=rent}}
                <div class="mb-2 requestedrent">
                    <button class="pending-game btn btn-small bi bi-exclamation-triangle-fill mt-1">
                        {{rent.renter.username}} is waiting for your validation</button>
                </div>
                </div>
                <div class="d-flex justify-content-evenly">
                   
                        <button 
                        class="btn my-btn btn-primary update-rent-btn"
                        type="submit"
                        data-idRent="{{rent.id}}"
                        data-renter="{{rent.renter.username}}"
                        data-action="Rented"
                    >
                        Accept
                    </button>
                    <button 
                        class="btn my-btn btn-danger update-rent-btn"
                        type="submit"
                        data-idRent="{{rent.id}}"
                        data-action="Free"
                    >
                        Deny
                    </button>
                    
            
                </div>
                {{/isValidating}}

            {{#isRented rent=rent}} 
            <div class=" validatedrent"> <!--Probando para DOM-->
           <div class="mb-2">
                    <button class="rented-game btn btn-small bi bi-calendar-check-fill mt-4">
                     Rented to {{rent.renter.username}}</button>
                </div>
                </div>
                <div class="d-flex justify-content-evenly mt-1">
                   
                        <button 
                        class="btn my-btn btn-primary update-rent-btn"
                        type="submit"
                        data-idRent="{{rent.id}}"
                        data-action="Rented"
                    >
                        Accept
                    </button>
            
                </div>
            </div>

             {{/isRented}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>