<div class="row justify-content-center">
    <div class="rent-game col-4">
        <div class="rent-game-intro">
            <h2>Rent a new game and enjoy!</h2>
        </div>

        <form action="/game/{{game._id}}/rent" method="POST"> 


            <!-- Ok -->
            <div class=" row mb-3 hidden">
                <label for="renter" class="form-label"></label>
                <input value="{{currentUser.id}}" class="form-control" id="renter" name="renter">
            </div>

            <!-- Ok -->

            <div class="row mb-3 hidden">
                <label for="game" class="form-label">OCULTAR ID JUEGO</label>
                <input value="{{game._id}}" class="form-control" id="game" name="game">
            </div>

            <!-- Ok -->

            <div class="row mb-3 hidden">
                <label for="tenant" class="form-label">USER JUEGO</label>
                <input value="{{game.user}}" class="form-control" name="tenant">
            </div>

            <!-- Ok -->
            <div class="row mb-3">
                <h2>{{game.title}}</h2>
            </div>

            <!-- Ok -->

            <div class="row mb-3">
                <img src="{{game.image}}"></img>
            </div>

            <div class="row mb-3">
                <label for="start">Start Date:</label>
                <input min="{{min}}" type="date" id="start" name="start">
            </div>

            <div class="row mb-3">
                <label for="end">End Date:</label>
                <input type="date" id="end" name="end">
            </div>

            <div class="btn-create">
                <button type="submit" class="btn btn-outline-info bg-light">REQUEST IT TO RENT</button>
            </div>
        </form>
    </div>
</div>