<div class="row m-0 mt-3">
    
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-12 mt-4 d-flex justify-content-center">

      {{> sidebar}}
      
    </div>

  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-3 mt-3 text-center ">
    <h2 class="pt-2" style="color:rgb(10, 207, 207)">YOUR OWN GAMES AVALAIBLE TO RENT</h2>

    <div class="row m-0">
      {{#each games as |game|}}
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
        <div class="card card-own-games d-flex">
          <div class="card-body">
            <h3 class="card-title card-name"> {{game.title}}</h3>
            <p class="card-text-desc m-0">Description: {{game.description}}</p>
            <p class="card-text mt-2">Type: {{game.type}}</p>
            <p class="card-text m-0">State: {{game.state}}</p>
            <p class="card-text mb-5">Price per day: {{game.price}}€</p>
            <div id="{{game.title}}" class="carousel slide">
              <div class="carousel-indicators">
                {{#each game.image as |img|}}
                <button type="button" data-bs-target="#{{game.title}}" data-bs-slide-to="{{@index}}"
                  class="active btn-carousel" aria-current="true" aria-label="Slide 1"></button>
                {{/each}}
              </div>
              <div class="carousel-inner d-flex">
                {{#each game.image as |img|}}
                {{#if @first}}
                <div class="carousel-item active">
                  <img src="{{img}}" width="200px" height="200px" alt="...">
                </div>
                {{else}}
                <div class="carousel-item">
                  <img src="{{img}}" width="200px" height="200px" alt="...">
                </div>
                {{/if}}
                {{/each}}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#{{game.title}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#{{game.title}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-around mb-2">
            <form action="/profile/{{game.id}}/delete" method="POST">
              <button class="delete-game-btn btn btn-danger btn-small">Delete</button>
            </form>
            <form action="/profile/{{game.id}}/edit" method="GET">
              <button class="update-game-btn btn btn-primary btn-smaill">Update</button>
            </form>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>