<div class="text-center ">
<h2 class="text-center pt-2" style="color:rgb(10, 207, 207)">GAMES AVALAIBLE TO RENT</h2>
<div class="row">
    {{#each games as |game|}}
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-xs-12 mt-3">
        <div class="card card-other-games d-flex">
            <div class="card-body">
                <h3 class="card-title card-name"> {{game.title}}</h3>
                <p class="card-text-desc m-0">Description: {{game.description}}</p>
                <p class="card-text mt-2 m-0">Type: {{game.type}}</p>
                <p class="card-text m-0">State: {{game.state}}</p>
                <p class="card-text mb-2">Price per day: {{game.price}}€</p>
                <p class="card-text mb-2">Owner: {{game.user.username}}</p>
                <div id="{{game.title}}" class="carousel slide">
                    <div class="carousel-indicators">
                        {{#each game.image as |img|}}
                        <button type="button" data-bs-target="#{{game.title}}" data-bs-slide-to="{{@index}}"
                            class="active btn-carousel" aria-current="true" aria-label="Slide 1"></button>
                        {{/each}}
                    </div>
                    <div class="carousel-inner d-flex">
                        {{#each game.image as |img|}}
                        {{#if @first}}
                        <div class="carousel-item  text-center active">
                            <img src="{{img}}" width="200px" height="200px" alt="...">
                        </div>
                        {{else}}
                        <div class="carousel-item text-center ">
                            <img src="{{img}}" width="200px" height="200px" alt="...">
                        </div>
                        {{/if}}
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#{{game.title}}"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#{{game.title}}"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="p-3 d-flex justify-content-around">
                <form action="/game/{{game.id}}/rent" method="GET">
                    <button class="delete-game-btn btn btn-danger btn-small">RENT</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>